@media (max-width:800px) {
    
*{
    margin-left: 5px;
    margin-right: 5px;

}


body{
    background-color: darkgray;
}

.background{
    background-image: none;
    
}

.container{
    background-color: rgba(49, 47, 47, 0.425);
    width: 350px;
    height: 100vh;
    

}

form{
    margin: auto;
    flex-direction: column;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 123, 0);
  }

#nome{
    margin-top: 20px;
    margin: auto;
    width: 250px;
    
}

#idade{
    margin: auto;
    margin-top: 10px;
    width: 150px;
    }

#Sexo{
    margin: auto;
    width: 95px;
    height:35px;
    background-color: rgb(228, 220, 220);
}

#cep{
    margin: auto;
    margin-top:30px;
    width: 200px;
    
}


#rua{
   margin: auto;
    margin-top: 10px;
    width: 230px;
    
}

#numero{
    margin: auto;
    margin-top: 10px;
    width: 40px;
}

#bairro{
    margin: auto;
    margin-top: 20px; 
    width: 251px;
}
#cidade{
    margin: auto;
    margin-top: 20px; 
    width: 240px;
    
}

#uf{
    margin-top: 20px;
    width:239px;
    height:30px;
    background-color: rgb(228, 220, 220);
}



#tel{
    margin-top: 20px;
    width:180px;
}
#cel{
    margin-top: 20px;
    width:189px;
    
}

#email{
    margin-top: 20px;
    width:240px;
}
   
button.BOTTON{
   margin: auto;
    margin-top: 10px;
   width: 330px;   
}

}